// 'Josefin Sans' import from Googe fonts
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700');

// SASS Bootstrap media queries
$screen-lg-min: 1200px;    // Large screens
$screen-md-min: 992px;    // Medium screens
$screen-sm-min: 768px;    // Small screens

// Footer styling

.footer {
    height: auto;
    padding-top: 4em;
    padding-bottom: 3em;
    background-color: #9b59b6;

        &__icon {
            font-size: 2em;
            color: #cabfe0;
        }
}
