@import url('https://fonts.googleapis.com/css?family=Poiret+One');

.headerTop {
    height: 40em;
    width: 100vw;
    background: #DA22FF; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #3f408e, #A96ACE); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #6668c1, #B37EC1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
 .headerTop__headline {
     font-family: 'Poiret One', cursive;
     color: #fff;
     margin-top: 3em;
     padding: 0;
 }

 p {
     font-family: 'Poiret One', cursive;
     color: #cabfe0;
     font-size: 1.4em;
 }
