// 'Josefin Sans' import from Googe fonts
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700');

// SASS Bootstrap media queries
$screen-lg-min: 1200px;    // Large screens
$screen-md-min: 992px;    // Medium screens
$screen-sm-min: 768px;    // Small screens

// Navigation styling
.navigation {
    height: 4em;
    position: absolute;

        &__logo {
            font-family: 'Josefin Sans', sans-serif;
            color: #fff;
            padding-top: 1em;
            letter-spacing: 0.2em;
            font-size: 1.5em;
        }
}
